body {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #001d3d, #000000);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #e8f0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  margin-top: 20px;
  font-size: 48px;
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff, 0 0 25px #00eaff;
  letter-spacing: 2px;
}

h2 {
  font-size: 20px;
  max-width: 700px;
  line-height: 1.4;
  margin-top: -10px;
  margin-bottom: 20px;
  color: #f1f1f1;
}

#game-container {
  margin-top: 15px;
  border: 4px solid #00eaff;
  padding: 8px;
  border-radius: 12px;
  box-shadow: 0 0 15px #00eaff;
}

footer {
  margin-top: 25px;
  font-size: 15px;
  color: #999;
}
